{% extends 'base.html' %}
{% load static crispy_forms_tags get_display %}

{% block container %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">

                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5 mb-3">
                    <div class="text-center mb-5">
                        <h4>{{ meal.name }} Ingredients</h4>
                    </div>

                    <div class="row">
                        {% if meal.image_link %}
                            <div class="col-md-6 col-12 meal_img"
                                 style="background-image: url({{ meal.image_link }})"></div>
                        {% endif %}
                        <div class="col">
                            <form method="post" action="">
                                {% csrf_token %}
                                <fieldset>
                                    {% crispy form %}
                                    <button class="btn btn-dark">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <br>
                    <hr>

                    <div class="container mt-5 mb-3">
                        <div class="mb-3">
                            <h3>
                                <a href="{% url 'meals:update' meal.id %}">{{ meal.name }}</a>
                            </h3>
                            <div class="d-flex justify-content-between">
                                <i>
                                    {{ meal.pax_serving }} pax per {{ meal.servings }} serving
                                </i>
                                <div>
                                    {% for meal_category in meal.meal_categories %}
                                        {% if meal_category %}
                                            <span class="meal_category">{{ meal_category }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if meal.description %}
                                <br>
                                <div>
                                    {{ meal.description|linebreaks }}
                                </div>
                            {% endif %}
                        </div>

                        {% if meal_ingredients %}
                            <table class="table border">
                                {% for meal_ingredient in meal_ingredients %}
                                    <tr>
                                        <td class="text-nowrap" style="width: 50px">
                                            {#                                <a class="modal_update p-2" data-toggle="modal"#}
                                            {#                                   href="javascript:void(0);"#}
                                            {#                                   id="{% url 'meal_ingredients:update_modal' meal_ingredient.code_meal_id meal_ingredient.id %}">#}
                                            <a class="p-2"
                                               href="{% url 'meal_ingredients:update_modal' meal_ingredient.code_meal_id meal_ingredient.id %}">
                                                {% if meal_ingredient.fraction or meal_ingredient.measurement_value or meal_ingredient.measurement_type %}
                                                    {% if meal_ingredient.fraction %}
                                                        {{ meal_ingredient.fraction }}
                                                    {% elif meal_ingredient.measurement_value %}
                                                        {{ meal_ingredient.measurement_value | no_decimals }}
                                                    {% endif %}
                                                    {% if meal_ingredient.measurement_type %}
                                                        <span data-toggle="tooltip" data-placement="top" title="
                                                                {{ meal_ingredient.measurement_type | measurement_type_display }}{% if meal_ingredient.fraction > 1 %}/s{% elif meal_ingredient.measurement_value > 1 %}/s{% endif %}">
                                        {{ meal_ingredient.measurement_type }}
                                    </span>
                                                    {% endif %}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            {{ meal_ingredient.code_ingredient.name }}
                                        </td>
                                        <td>
                                            {% if meal_ingredient.preparation %}
                                                {{ meal_ingredient.preparation }}{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <br>
                        {% endif %}

                        {% if meal.steps %}
                            <h5>Instructions</h5>
                            {{ meal.steps|linebreaks }}
                            <br>
                        {% endif %}
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        jQuery('.modal_update').click(function (e) {
                            var linkvar = $(this).attr('id');
                            $('.modal-body').load(linkvar, function (result) {
                                $('#myModal').modal({show: true});
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock container %}