{% extends 'base.html' %}
{% load static crispy_forms_filters %}


{% block nologin %}

    <div id="logout">
        <div class="d-block" id="logout-message" style="margin-top: 100px">
            <h4 class="text-center">You have been logged out</h4>
        </div>
    </div>

    <script>
        window.setTimeout(function () {
            window.location.href = '{% url 'login' %}';
        }, 1000);
        $('.alert-block').removeClass('position-absolute').addClass('position-relative')
    </script>

{% endblock nologin %}