{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block container %}

    <div class="container mt-5">

        <div class="row">

            <div class="col-12">

                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post" action="{% url 'ingredient_categories:create' %}">
                    {% csrf_token %}
                    <fieldset>
                        {% crispy form %}
                    </fieldset>
                </form>

                <br>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for ingredient_category in ingredient_categories %}
                <a class="modal_update" data-toggle="modal"
                   href="javascript:void(0);"
                   id="{% url 'ingredient_categories:update_modal' ingredient_category.id %}">
                    <div class="list_display">
                        {{ ingredient_category.name }}
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>

    <script>
        $(document).ready(function () {
            jQuery('.modal_update').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>

{% endblock container %}