{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <form method="post" action="{% url 'ingredient_categories:update_modal' pk %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark">Update</button>
        </fieldset>
    </form>

    <script>
        $(document).ready(function () {
            $('#div_id_order').parent().removeClass('col')
        });
    </script>

{% endblock container %}