{% extends 'base.html' %}
{% load static get_display %}

{% block nav %} {% endblock nav %}

{% block container %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <fieldset>
                            <div class="text-center m-3">
                                <h3>YAY! You're done</h3>
                                <br>
                                <h5>Head to the checkout line</h5>
                                <div class="d-flex justify-content-between mt-5">
                                    <button class="btn btn-dark">Mark as Complete</button>
                                    <a href="{% url 'home' %}" class="btn btn-secondary">Use Again?</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col">
                <div>
                    <a class="btn btn-info mb-5" href="{% url 'shopping_lists:update' pk %}">
                        Back
                    </a>
                </div>

                <div class="text-center">
                    <h3>{{ shopping_list.name }}</h3>
                    {% if shopping_list.date_from %}
                        {{ shopping_list.date_from | date:"D d M Y" }}
                        - {{ shopping_list.date_to | date:"D d M Y" }}
                    {% endif %}
                </div>
                <br>
                {% for category, ingredients in ingredient_summary.items %}
                    <table class="table mb-2 border todo">
                            <tr>
                                <th>
                                    {% if category %}{{ category }}{% else %}Other{% endif %}
                                </th>
                            </tr>
                        {% for ingredient in ingredients %}
                            <tr>
                                <td>
                                    <input style="display: none" type="checkbox" id="checkbox" class="checkbox"/>
                                    {% if ingredient.ingredient_name %}
                                        {{ ingredient.ingredient_name }}
                                    {% else %}
                                        {{ ingredient.name }}
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {% if ingredient.measurement_type.fraction %}
                                        {{ ingredient.measurement_type.fraction }}
                                        {% elif ingredient.i %}{{ ingredient.i | no_decimals }}
                                        {% elif ingredient.g %}{{ ingredient.g | no_decimals }}
                                        {% elif ingredient.kg %}{{ ingredient.kg | no_decimals }}
                                        {% elif ingredient.dp %}{{ ingredient.dp | no_decimals }}
                                        {% elif ingredient.tsp %}{{ ingredient.tsp | no_decimals }}
                                        {% elif ingredient.tbsp %}{{ ingredient.tbsp | no_decimals }}
                                        {% elif ingredient.c %}{{ ingredient.c | no_decimals }}
                                        {% elif ingredient.ml %}{{ ingredient.ml | no_decimals }}
                                        {% elif ingredient.l %}{{ ingredient.l | no_decimals }}
                                    {% else %}
                                        {{ ingredient.quantity }}
                                    {% endif %}
                                    {% if ingredient.measurement_type and ingredient.measurement_type.measurement_type != 'i' %}
                                        {{ ingredient.measurement_type.measurement_type }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                <table class="table m-0 border done">
                </table>

            </div>
        </div>

    </div>

    <script type="application/javascript">
        $('.todo td').parent().click(function () {
            $(this).closest('tr').find('input').attr("checked", "checked")
            let text = $(this).html()

            $('.done').append('<tr class="bg-light strikeout">' + text + '</tr>')
            let table = $(this).closest('table')
            $(this).remove()

            if (table.find("td").length < 2) {
                table.remove()
             }

            if ($('input.checkbox').not(':checked').length === 0) {
                $('#myModal').modal({show: true});
            }
        });
    </script>

{% endblock container %}