{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <form method="post" action="{% url 'shopping_lists:update' pk %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark mt-2">Update</button>
        </fieldset>
    </form>

    <script type="application/javascript">
        $('.toggle_dates').hide()
        $(".button_toggle_dates").click(function () {
            $('.toggle_dates').fadeToggle()
            this.innerText = (this.innerText === '-' ? '+' : '-')
        });
        $('#div_id_is_active').parent().parent().removeClass('col')
    </script>

{% endblock container %}