{% extends 'base.html' %}
{% load static get_display %}

{% block nav %} {% endblock nav %}

{% block container %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center m-3">
                        <h3>YAY! You're done</h3>
                        <br>
                        <h5>Head to the checkout line</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col">
                <div>
                    <a class="btn btn-info mb-5" href="{% url 'shopping_lists:update' pk %}">
                        Back
                    </a>
                </div>

                <div class="text-center">
                    <h3>{{ shopping_list.name }}</h3>
                    {% if shopping_list.date_from %}
                        {{ shopping_list.date_from | date:"D d M Y" }}
                        - {{ shopping_list.date_to | date:"D d M Y" }}
                    {% endif %}
                </div>
                <br>
                <table class="table m-0 border">
                    {% for id, ingredient in ingredient_list.items %}
                        <tr>
                            <td style="width: 65px">
                                <input type="checkbox" id="checkbox" class="checkbox"/>
                            </td>
                            <td>
                                {% if ingredient.ingredient_name %}
                                    {{ ingredient.ingredient_name }}
                                {% else %}
                                    {{ ingredient.name }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if ingredient.measurement_type.fraction %}
                                    {{ ingredient.measurement_type.fraction }}
                                    {% elif ingredient.i %}{{ ingredient.i | no_decimals }}
                                    {% elif ingredient.g %}{{ ingredient.g | no_decimals }}
                                    {% elif ingredient.kg %}{{ ingredient.kg | no_decimals }}
                                    {% elif ingredient.dp %}{{ ingredient.dp | no_decimals }}
                                    {% elif ingredient.tsp %}{{ ingredient.tsp | no_decimals }}
                                    {% elif ingredient.tbsp %}{{ ingredient.tbsp | no_decimals }}
                                    {% elif ingredient.c %}{{ ingredient.c | no_decimals }}
                                    {% elif ingredient.ml %}{{ ingredient.ml | no_decimals }}
                                    {% elif ingredient.l %}{{ ingredient.l | no_decimals }}
                                {% else %}
                                    {{ ingredient.quantity }}
                                {% endif %}
                                {% if ingredient.measurement_type and ingredient.measurement_type.measurement_type != 'i' %}
                                    {{ ingredient.measurement_type.measurement_type }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

    </div>

    <script type="application/javascript">
        $('.checkbox').change(function () {
            if (this.checked) {
                $(this).closest('tr').find('td:nth-child(2)').css("text-decoration", "line-through");
                $(this).closest('tr').find('td:nth-child(3)').css("text-decoration", "line-through");
            } else {
                $(this).closest('tr').find('td:nth-child(2)').css("text-decoration", "none");
                $(this).closest('tr').find('td:nth-child(3)').css("text-decoration", "none");
            }
        });
        $(".checkbox").change(function () {
            if ($('input.checkbox').not(':checked').length === 0) {
                $('#myModal').modal({show: true});
            }
        });
    </script>

{% endblock container %}