{% extends 'base.html' %}
{% load static crispy_forms_tags get_display %}

{% block content %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-2">
        <a class="btn btn-info m-1" href="{% url 'shopping_lists:list' pk %}">
            View Shopping List
        </a>
        <a class="btn btn-info m-1" href="{% url 'shopping_lists:food_diary' pk %}">
            View Food Diary
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <a class="modal_create_meal btn btn-dark m-1" data-toggle="modal" href="javascript:void(0);">
            Meals
        </a>
        <a class="modal_create_ingredient btn btn-dark m-1" data-toggle="modal" href="javascript:void(0);">
            Ingredients
        </a>
        <a class="modal_create_other btn btn-dark m-1" data-toggle="modal" href="javascript:void(0);">
            Other Items
        </a>
    </div>

    <br>
    <hr>
    <br>

    <div class="text-center">
        <a class="modal_list_update" data-toggle="modal" href="javascript:void(0);">
            <h3>
                {{ shopping_list.name }} {% if not shopping_list.is_active %}
                <i class="text-danger">(Inactive List)</i>{% endif %}
            </h3>
        </a>
        <br>

        {% if shopping_list.date_from %}
            {{ shopping_list.date_from | date:"D d M Y" }} - {{ shopping_list.date_to | date:"D d M Y" }}
        {% endif %}
    </div>
    <br>
    <table class="table m-0 table-bordered">
        {% for id, ingredient in ingredient_list.items %}
            {% if ingredient.added %}
                <tr>
                    <td class="p-0" style="width: 100px">
                        <a class="cursor-pointer" title="See More"
                           onclick="return showItems(this,'added_{{ ingredient.id }}')">
                            <table class="table m-0 table-borderless">
                                <tr>
                                    <td style="width: 100px">
                                        {% if ingredient.measurement_type.fraction %}
                                            {{ ingredient.measurement_type.fraction }}
                                        {% endif %}
                                        {% if ingredient.i %}{{ ingredient.i | no_decimals }}{% endif %}
                                        {% if ingredient.g %}{{ ingredient.g | no_decimals }}{% endif %}
                                        {% if ingredient.kg %}{{ ingredient.kg | no_decimals }}{% endif %}
                                        {% if ingredient.dp %}{{ ingredient.dp | no_decimals }}{% endif %}
                                        {% if ingredient.tsp %}{{ ingredient.tsp | no_decimals }}{% endif %}
                                        {% if ingredient.tbsp %}{{ ingredient.tbsp | no_decimals }}{% endif %}
                                        {% if ingredient.c %}{{ ingredient.c | no_decimals }}{% endif %}
                                        {% if ingredient.ml %}{{ ingredient.ml | no_decimals }}{% endif %}
                                        {% if ingredient.l %}{{ ingredient.l | no_decimals }}{% endif %}
                                        {% if ingredient.measurement_type and ingredient.measurement_type.measurement_type != 'i' %}
                                            {{ ingredient.measurement_type.measurement_type }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if ingredient.ingredient_name %}
                                            {{ ingredient.ingredient_name }}
                                        {% else %}
                                            {{ ingredient.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="p-0">
                        <div style='width:100%;display:none;' id='d_added_{{ ingredient.id }}'>
                            <table class="table m-0 table-borderless small">
                                {% for added in ingredient.added %}
                                    <tr class="border-bottom">
                                        <td class="p-2" style="width: 100px">
                                            <a class="modal_update_ingredient p-2 cursor-pointer"
                                               data-toggle="modal"
                                               href="javascript:void(0);"
                                                    {% if added.code_meal_ingredient__code_meal__name != 'None' %}
                                               id="{% url 'shopping_list_items:update_meal_modal' added.id %}"
                                                    {% elif added.code_ingredient__name != 'None' %}
                                               id="{% url 'shopping_list_items:update_ingredient_modal' added.id %}"
                                                    {% else %}
                                               id="{% url 'shopping_list_items:update_item_modal' added.id %}"
                                                    {% endif %}>

                                                {% if added.measurement_value or added.measurement_type %}
                                                    <span {% if added.measurement_value %}
                                                        title="{{ added.measurement_type | measurement_type_display }}"
                                                    {% endif %}>
                                                    {% if added.measurement_value %}
                                                        {{ added.measurement_value | no_decimals }}
                                                    {% else %}
                                                        {{ added.fraction }}
                                                    {% endif %}
                                                        {% if added.measurement_type %}
                                                            {{ added.measurement_type }}
                                                        {% endif %}
                                                </span>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="p-2 small cursor-pointer"
                                            {% if added.servings %}title="{{ added.servings }}"{% endif %}>
                                            {% if added.code_meal_ingredient__code_meal__name %}
                                                {{ added.code_meal_ingredient__code_meal__name }}
                                            {% else %}
                                                {% if added.code_ingredient__name %}
                                                    {{ added.code_ingredient__name }}
                                                {% else %}
                                                    {{ added.name }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="p-2 small">
                                            {% for day_of_week in added.day_of_week %}
                                                {% if day_of_week != '0' and day_of_week %}
                                                    <span class="day_of_week">{{ day_of_week | day_of_week_display }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="p-2 small text-right">
                                            {% for meal in added.meal %}
                                                {% if meal != '0' and meal %}
                                                    <span class="meal">{{ meal | meal_display }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <hr>
    <br>

    <div>
        <a class="cursor-pointer button_toggle_removed btn btn-dark text-light mw-45 fake-label mr-1"
           title="View Removed items">+</a>
    </div>

    <br>

    <div class="toggle_removed">
        <table class="table m-0 table-bordered">
            {% for id, ingredient in ingredient_list.items %}
                {% if ingredient.removed %}
                    <tr>
                        <td class="p-0" style="width: 100px">
                            <a class="cursor-pointer" title="See More"
                               onclick="return showItems(this,'removed_{{ ingredient.id }}')">
                                <table class="table m-0 table-borderless">
                                    <tr>
                                        <td style="width: 100px">
                                            {% if ingredient.measurement_type.fraction %}
                                                {{ ingredient.measurement_type.fraction }}
                                            {% endif %}
                                            {% if ingredient.i %}{{ ingredient.i | no_decimals }}{% endif %}
                                            {% if ingredient.g %}{{ ingredient.g | no_decimals }}{% endif %}
                                            {% if ingredient.kg %}{{ ingredient.kg | no_decimals }}{% endif %}
                                            {% if ingredient.dp %}{{ ingredient.dp | no_decimals }}{% endif %}
                                            {% if ingredient.tsp %}{{ ingredient.tsp | no_decimals }}{% endif %}
                                            {% if ingredient.tbsp %}{{ ingredient.tbsp | no_decimals }}{% endif %}
                                            {% if ingredient.c %}{{ ingredient.c | no_decimals }}{% endif %}
                                            {% if ingredient.ml %}{{ ingredient.ml | no_decimals }}{% endif %}
                                            {% if ingredient.l %}{{ ingredient.l | no_decimals }}{% endif %}
                                            {% if ingredient.measurement_type and ingredient.measurement_type.measurement_type != 'i' %}
                                                {{ ingredient.measurement_type.measurement_type }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if ingredient.ingredient_name %}
                                                {{ ingredient.ingredient_name }}
                                            {% else %}
                                                {{ ingredient.name }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="p-0">
                            <div style='width:100%;display:none;' id='d_removed_{{ ingredient.id }}'>
                                <table class="table m-0 table-borderless small">
                                    {% for removed in ingredient.removed %}
                                        <tr class="border-bottom">
                                            <td class="p-2" style="width: 100px">
                                                <a class="modal_update_ingredient p-2 cursor-pointer"
                                                   data-toggle="modal"
                                                   href="javascript:void(0);" style="color: red"
                                                        {% if removed.code_meal_ingredient__code_meal__name != 'None' %}
                                                   id="{% url 'shopping_list_items:update_meal_modal' removed.id %}"
                                                        {% elif removed.code_ingredient__name != 'None' %}
                                                   id="{% url 'shopping_list_items:update_ingredient_modal' removed.id %}"
                                                        {% else %}
                                                   id="{% url 'shopping_list_items:update_item_modal' removed.id %}"
                                                        {% endif %}>
                                                    {% if removed.measurement_value or removed.measurement_type %}
                                                        {% if removed.measurement_value %}
                                                            {{ removed.measurement_value | no_decimals }}
                                                        {% else %}
                                                            {{ removed.fraction }}
                                                        {% endif %}
                                                        {% if removed.measurement_type %}
                                                            <span title="{{ removed.measurement_type | measurement_type_display }}">
                                                        {{ removed.measurement_type }}
                                                    </span>
                                                        {% endif %}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td class="p-2 small cursor-pointer"
                                                {% if removed.servings %}title="{{ removed.servings }}"{% endif %}>
                                                {% if removed.code_meal_ingredient__code_meal__name %}
                                                    {{ removed.code_meal_ingredient__code_meal__name }}
                                                {% else %}
                                                    {% if removed.code_ingredient__name %}
                                                        {{ removed.code_ingredient__name }}
                                                    {% else %}
                                                        {{ removed.name }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="p-2 small">
                                                {% for day_of_week in removed.day_of_week %}
                                                    {% if day_of_week != '0' and day_of_week %}
                                                        <span class="day_of_week">{{ day_of_week | day_of_week_display }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td class="p-2 small text-right">
                                                {% for meal in removed.meal %}
                                                    {% if meal != '0' and meal %}
                                                        <span class="meal">{{ meal | meal_display }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <br>


    <script type="application/javascript">

        $(document).ready(function () {
            $('.toggle_removed').hide()
            $(".button_toggle_removed").click(function () {
                $('.toggle_removed').toggle()
                this.innerText = (this.innerText === '-' ? '+' : '-')
            });
            $('.toggle_dates').hide()
            jQuery('.modal_meal_delete').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_create_meal').click(function (e) {
                $('.modal-body').load("{% url 'shopping_list_items:create_meal_modal' pk %}", function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_create_ingredient').click(function (e) {
                $('.modal-body').load("{% url 'shopping_list_items:create_ingredient_modal' pk %}", function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_create_other').click(function (e) {
                $('.modal-body').load("{% url 'shopping_list_items:create_item_modal' pk %}", function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_update_ingredient').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_update_item').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_list_update').click(function (e) {
                $('.modal-body').load("{% url 'shopping_lists:update_modal' pk %}", function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            $(".button_toggle_dates").click(function () {
                $('.toggle_dates').fadeToggle()
                this.innerText = (this.innerText === '-' ? '+' : '-')
            });
        });
    </script>
    <script src="{% static 'javascript/showitems.js' %}"></script>

{% endblock content %}

{% block meals %}
    <div class="col-12">
        <h3>"{{ shopping_list.name }}" Meals</h3>
    </div>

    <!--Pagination-->
    {% if meal_list.paginator.num_pages > 1 %}
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if meal_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ meal_list.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% if meal_list.number|add:'-4' > 1 %}
                            <li class="page-item"><a class="page-link" href="?page={{ meal_list.number|add:'-5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% for i in meal_list.paginator.page_range %}
                            {% if meal_list.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            {% elif i > meal_list.number|add:'-5' and i < meal_list.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if meal_list.paginator.num_pages > meal_list.number|add:'4' %}
                            <li class="page-item"><a class="page-link" href="?page={{ meal_list.number|add:'5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% if meal_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ meal_list.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
    <!--end of Pagination-->

    <div class="row">
        <div class="col-12">
            <form method="GET">
                <fieldset>
                    <div class="d-flex form-group">
                        <input name="meals_search" class="form-control mr-2" type="text"
                               value="{{ meals_search }}">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <table class="table border">
        {% if meal_list %}
            {% for meal_id, meal_name in meal_list.items %}
                <tr>
                    <td>
                        {{ meal_name }}
                    </td>
                    <td class="text-right" title="Remove from Shopping List">
                        <a class="modal_meal_delete" data-toggle="modal"
                           href="javascript:void(0);"
                           id="{% url 'shopping_list_items:delete_meal' pk meal_id %}">X</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    No meals
                </td>
            </tr>
        {% endif %}
    </table>

    <script type="application/javascript">
        $('#div_id_is_active').parent().parent().removeClass('col')
    </script>

{% endblock meals %}