{% extends 'base.html' %}
{% load static get_display %}

{% block nav %} {% endblock nav %}

{% block container %}

    <div class="container">

        <div class="row">
            <div class="col mt-5 mb-5">
                <a class="btn btn-info" href="{% url 'shopping_lists:update' pk %}">
                    Back
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col mb-5">

                <div class="text-center">
                    <h3>{{ shopping_list.name }}</h3>
                    {% if shopping_list.date_from %}
                        {{ shopping_list.date_from | date:"D d M Y" }}
                        - {{ shopping_list.date_to | date:"D d M Y" }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            {% for weekday, food in food_diary.items %}
                <div class="col-sm-6 col-md-3 col-lg col-12 border p-0">
                    <div class="bg-info text-light p-2">{{ weekday | day_of_week_display }}</div>
                    <div class="p-3">
                        {% for day, meals in food.items %}
                            {% for meal in meals %}
                                {% ifchanged meal %}
                                    <b>{{ day | meal_display }}:</b>
                                    {{ meal }},
                                {% endifchanged %}
                                {% if forloop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    </div>

{% endblock container %}