{% extends 'base.html' %}
{% load static crispy_forms_tags get_display %}

{% block content %}

    <form method="post" action="{% url 'shopping_lists:create' %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
        </fieldset>
    </form>

{% endblock content %}

{% block list %}

    <div class="col-12">
        <h4>Shopping Lists</h4>
    </div>
    {% if shopping_lists %}
        <table class="table border">
            {% for shopping_list in shopping_lists %}
                <tr>
                    <td>
                        <a href="{% url 'shopping_lists:update' shopping_list.id %}">{{ shopping_list.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="col-12">No shopping lists created</div>
    {% endif %}

{% endblock list %}