{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
    <a href="{% url 'shopping_lists:create' %}">Create</a>
    {% if shopping_lists %}
        <table class="table border mt-5">
            {% for shopping_list in shopping_lists %}
                {% ifchanged shopping_list.pk %}
                    <tr>
                        <th><a href="{% url 'shopping_lists:update' shopping_list.pk %}">{{ shopping_list.name }}</a>
                        </th>
                    </tr>
                {% endifchanged %}
                <tr>
                    <td>{{ shopping_list.code_recipe__name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}