.alert {
    z-index: 9;
}

.navbar-dark a {
    color: rgba(255,255,255,0.5);
}

.navbar-dark a:hover {
    color: rgb(255,255,255);
    background: rgba(255,255,255,0.1);
}

.page-link {
    color: #17a2b8 !important;
}

.page-item.active .page-link {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: #fff !important;
}

svg {
    fill: white !important;
    width: 25px !important;
    height: 25px !important;
}

a {
    text-decoration: none !important;
    height: 100%;
}

.hide-href {
    color: #293d3d !important;
}

.hide-href:hover {
    color: #007bff !important;
}

.top-link {
    padding: 0 10px 5px 10px;
    border-radius: 0 0 10px 10px;
    background: #343a40 !important;
    color: white;
}

.top-link:hover {
    color: #6c757d;
}

.open_close {
    margin-top: 36px;
}
.loading {
    width: 35px;
    height: 35px;
    margin: auto;
    animation-name: loading-animation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
}
.loading svg {
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes loading-animation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/* Standard syntax */
@keyframes loading-animation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}