.alert {
    z-index: 9;
}

.back-btn {
    padding: 5px;
}

.back-btn:hover {
    opacity: 0.5;
}

.top-0 {
    top: 0 !important;
}

.m-30 {
    width: 30px;
}

.m-45 {
    width: 45px;
}

.mw-45 {
    min-width: 45px;
}

.mw-65 {
    min-width: 65px;
}

.mw-70 {
    width: 70px;
}

.mw-145 {
    min-width: 145px;
}

.order-style {
    position: relative;
    border-radius: 50%;
    font-weight: bold;
    margin-left: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #f8f9fa;
    border-color: #17a2b8;
    background-color: #17a2b8;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#div_id_is_active .custom-control-label::after {
    width: 1.8rem;
    height: 1.8rem;
}

#div_id_is_active .custom-control-label::before {
    width: 1.8rem;
    height: 1.8rem;
}

.fake-label {
    margin-top: 32px;
}

.inline-btn {
    margin-bottom: 32px;
}

label {
    font-weight: bold;
}

.cursor-pointer:hover {
    cursor: help;
}

.navbar-dark a {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark a:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
}

.page-link {
    color: #17a2b8 !important;
}

.page-item.active .page-link {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: #f8f9fa !important;
}

a {
    text-decoration: none !important;
    height: 100%;
    color: #293d3d;
}

a.btn {
    color: #f8f9fa !important;
}

a:hover {
    color: #17a2b8 !important;
}

a.btn:hover {
    color: #f8f9fa !important;
}

a.nav-link:hover {
    color: #f8f9fa !important;
}

.open_close {
    margin-top: 36px;
}

.loading {
    width: 35px;
    height: 35px;
    margin: auto;
    animation-name: loading-animation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
}

.loading svg {
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
    padding: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

#div_id_day_of_week div, #div_id_meal div, #div_id_meal_categories div, #div_id_meal_ingredients div {
    display: flex;
    flex-wrap: wrap;
}

[for^="id_day_of_week_"], [for^="id_meal_"] {
    margin-right: 12px;
    font-size: 12px;
    padding-top: 4px;
}

.day_of_week {
    font-size: 8px;
    color: #f8f9fa;
    background: yellowgreen;
    padding: 2px 5px;
}

.username {
    font-size: 10px;
    color: steelblue;
    border: 1px solid steelblue;
    padding: 0 5px 2px 5px;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
}

a:hover .username {
    color: #f8f9fa;
    background: steelblue;
}

.meal {
    font-size: 8px;
    color: #f8f9fa;
    background: cadetblue;
    padding: 2px 5px;
}

.meal_category {
    font-size: 8px;
    color: #f8f9fa;
    background: maroon;
    padding: 2px 5px;
}

.select2 .select2-container .select2-container--default {
    width: 100% !important;
}

.table_list {
    padding: 0 !important;
}

.table_list:hover {
    background: rgba(232, 250, 252, 0.2);
}

.table_list.main:hover {
    background: rgb(232, 250, 252) !important;
}

.table_list.active {
    background: rgb(232, 250, 252) !important;
}

.table_list svg {
    height: 18px;
}

.meal_img {
    height: 80px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.meal_img svg {
    fill: #17a2b8;
    max-height: 80px;
    max-width: 100px;
    margin: auto;
    display: flex;
    opacity: 0.2;
}

/*.meal_img {*/
/*    min-height: 200px;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.meal_img svg {*/
/*    fill: #17a2b8;*/
/*    max-height: 200px;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    opacity: 0.2;*/
/*}*/

input[type="checkbox"] {
    font-size: 1.4rem;
    width: 1.25em;
    height: 1.25em;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #245884;
    border-color: #245884;
}

.border-radius {
    border-radius: 10px;
}

.list_display {
    background-color: #e8fafc;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    padding: 2px 12px;
    margin: 5px;
}

.list_display:hover {
    border: 1px solid #e8fafc;
}

.list_display:active {
    border: 1px solid #17a2b8;
    background-color: #17a2b8;
    color: #f8f9fa !important;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.table_hover {
    opacity: 80%;
}

.table_hover:hover, .table_hover:active {
    opacity: 100%;
}

#id_order {
    padding: 0 0 0 12px;
    text-align: center;
}