.alert {
    z-index: 9;
}

.top-0 {
    top: 0 !important;
}

.mw-65 {
    min-width: 65px;
}

.fake-label {
    margin-top: 32px;
}

.inline-btn {
    margin-bottom: 32px;
}

label {
    font-weight: bold;
}

.cursor-pointer:hover {
    cursor: help;
}

.navbar-dark a {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark a:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
}

.page-link {
    color: #17a2b8 !important;
}

.page-item.active .page-link {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: #fff !important;
}

a {
    text-decoration: none !important;
    height: 100%;
}

.hide-href {
    color: #293d3d !important;
}

.hide-href:hover {
    color: #007bff !important;
}

.top-link {
    padding: 0 10px 5px 10px;
    border-radius: 0 0 10px 10px;
    background: #343a40 !important;
    color: white;
}

.top-link:hover {
    color: #6c757d;
}

.open_close {
    margin-top: 36px;
}

.loading {
    width: 35px;
    height: 35px;
    margin: auto;
    animation-name: loading-animation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: loading-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
}

.loading svg {
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
    padding: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

#div_id_day_of_week div, #div_id_meal div, #div_id_meal_from div, #div_id_meal_to div {
    display: flex;
    flex-wrap: wrap;
}

[for^="id_day_of_week_"], [for^="id_meal_"] {
    width: 90px;
    font-size: 12px;
    padding-top: 4px;
}

.day_of_week {
    font-size: 8px;
    color: white;
    background: yellowgreen;
    padding: 2px 4px;
}

.meal {
    font-size: 8px;
    color: white;
    background: cadetblue;
    padding: 2px 4px;
}

.select2 .select2-container .select2-container--default {
    width: 100% !important;
}

.meal_img {
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="checkbox"] {
    font-size: 1.4rem;
    width: 1.25em;
    height: 1.25em;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #245884;
    border-color: #245884;
}