{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <form method="post" action="{% url 'shopping_list_items:update_ingredient_modal' pk %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark">Update</button>
        </fieldset>
    </form>

    <script type="application/javascript">
        $(document).ready(function () {

            $('input[type="checkbox"]').attr('disabled', true);
            $('input[name="day_of_week"]').attr('disabled', true);
            $('input[name="meal"]').attr('disabled', true);

        });
    </script>

{% endblock container %}