{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <form method="post" action="{% url 'shopping_list_items:create_item_modal' fk %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark">Create</button>
        </fieldset>
    </form>

    <script type="application/javascript">
        $(document).ready(function () {

            let checkbox = $('input[type="checkbox"]');
            let day_of_week = $('input[name="day_of_week"]');
            let meal = $('input[name="meal"]');

            checkbox.change(function () {
                let count_day_of_week = day_of_week.filter(':checked').length;
                let count_meal = meal.filter(':checked').length;
                $('#id_measurement_value').val(count_meal * count_day_of_week);
            });

        });
    </script>

{% endblock container %}