{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block container %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">

                <form method="post" enctype="multipart/form-data" data-ajax="false">
                    {% csrf_token %}
                    <fieldset>
                        {% crispy form %}
                        <button class="btn btn-dark">Create</button>
                    </fieldset>
                </form>
                <br>

{#                <script>#}
{#                    $('input[name="image"]').removeClass('form-control')#}
{#                </script>#}
            </div>
        </div>
    </div>

{% endblock container %}