{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block container %}

    <div class="container mt-5">

        <div class="row">

            <div class="col-12">

                <h1>{{ meal.name }}</h1>
                <br>
                <form method="post" enctype="multipart/form-data" data-ajax="false">
                    {% csrf_token %}
                    <fieldset>
                        {% crispy form %}
                        <button class="btn btn-dark">Update</button>
                    </fieldset>
                </form>
                <br>

                <script>
                    $("a:contains('default.png')").remove();
                    $('input[name="image"]').removeClass('form-control')
                    $('input[name="image-clear"]').css("font-size", "0.8rem")
                </script>

            </div>
        </div>
    </div>

{% endblock container %}