{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <div class="d-flex">
        {% if meal.image and meal.image != 'default.png' %}
            <div class="col-sm-6 col-12 meal_img"
                 style="background-image: url({{ meal.image.url }})">
            </div>
        {% elif meal.image_link %}
            <div class="col-sm-6 col-12 meal_img"
                 style="background-image: url({{ meal.image_link }})">
            </div>
        {% else %}
            <div class="col-sm-6 col-12 meal_img"
                 style="background-color: #e8fafc">
                {% include 'include/meal.svg' %}
            </div>
        {% endif %}
        <div class="col-sm-6 col-12">
            <div>
                <b>
                    {{ meal.name }}
                </b>
            </div>
            <div class="small">{{ meal.pax_serving }} pax / {{ meal.servings }} serving</div>
            {% if meal.meal_category %}
                {% for meal_category in meal.meal_category %}
                    <span class="meal">{{ meal_category }}</span>
                {% endfor %}
            {% endif %}
            {% if meal.description %}
                <div class="mt-3">
                    {{ meal.description|linebreaks }}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    {% if meal_ingredients %}
        <table class="table">
            {% for meal_ingredient in meal_ingredients %}
                <tr>
                    <td class="p-0">
                        {% if meal_ingredient.code_ingredient.name %}
                            {{ meal_ingredient.code_ingredient.name }}
                        {% endif %}
                    </td>
                    <td class="p-0">
                        {% if meal_ingredient.measurement_value %}{{ meal_ingredient.measurement_value }}{% endif %}
                        {% if meal_ingredient.measurement_type %}{{ meal_ingredient.measurement_type }}{% endif %}
                    </td>
                    <td class="p-0">
                        {% if meal_ingredient.preparation %}{{ meal_ingredient.preparation }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if meal.steps %}
        <b>
            Instructions
        </b>
        <div>
            {{ meal.steps|linebreaks }}
        </div>
    {% endif %}

{% endblock container %}