{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <div class="text-center">
        <h5>Share {{ shopping_list.name }}</h5>
    </div>

    {% if user_list %}
        <form method="post" class="mb-2" action="{% url 'user_accounts:create_modal' shopping_list_id %}">
            {% csrf_token %}
            <fieldset>
                {% crispy form %}
                <button class="btn btn-dark">Create New Group</button>
                <button class="btn btn-dark">Update Group</button>
            </fieldset>
        </form>
    {% endif %}

    <div class="text-center">

        {% if not user_list %}
            <div class="m-2">There are no members to share this Shopping List with</div>
        {% endif %}
        <hr>
        <a class="small" href="{% url 'register' %}">Invite a friend?</a>
    </div>

{% endblock container %}