{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block nav %}{% endblock nav %}

{% block container %}

    <form method="post" class="mb-2" action="{% url 'user_accounts:update_modal' shopping_list_id %}">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark">Update</button>
        </fieldset>
    </form>

    <script type="application/javascript">
        $('#div_id_is_active').parent().parent().removeClass('col')
    </script>

{% endblock container %}