<!DOCTYPE html>
{% load static humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Balanced Life Tracker{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="{% static 'javascript/jquery-ui.js' %}"></script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/sorttable.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link REL="icon" href="{% static 'img/tick.svg' %}" type="image/x-icon">
    {% block CSS %}{% endblock CSS %}
</head>
<body>

{% block nav %}
    <nav class="navbar bg-dark navbar-dark position-relative">

        <div class="container">
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'home' %}">
                        Home
                    </a>
                </div>
                <div class="d-flex">
                    <a class="modal_tracker_add nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       data-toggle="modal"
                       href="javascript:void(0);"
                       id="{% url 'tracker:add' %}">New Tracker</a>
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
            {% else %}
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center" href="{% url 'login' %}">Login</a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}

<div class="alert-block position-absolute {% if not user.is_authenticated %}top-0{% endif %} w-100">
    {% block messages %}
        {% if messages %}
            <div class="alert alert-warning text-center">
                {% for message in messages %}{{ message }}<br/>{% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
</div>

{% if user.is_authenticated %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        {% block goals %}
            <div class="mt-5 mb-4">
                <a class="modal_goal_add goals btn-success btn-sm"
                   data-toggle="modal"
                   href="javascript:void(0);"
                   id="{% url 'tracker:goal_add' %}">
                    {% include 'include/plus.svg' %}
                    Add Goals
                </a>
            </div>

            {% if goals %}
                <div class="d-flex flex-wrap justify-content-center mb-4">
                    {% for goal in goals %}
                        <a class="d-flex m-1 modal_goal_update" data-toggle="modal"
                           href="javascript:void(0);"
                           id="{% url 'tracker:goal_update' goal.id %}">
                            <div class="colour_block" style="background-color: {{ goal.colour }}"></div>
                            &nbsp;&nbsp;{{ goal.name }}&nbsp;&nbsp;&nbsp;
                        </a>
                        {% if goal.description %}
                            <p>{{ goal.description }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock goals %}
    </div>

    {% block container %}
        <div class="container mt-5">

            <div class="row">

                <div class="col-12">
                    {% block content %}
                        <h1>Balanced Life Tracker</h1>
                    {% endblock content %}
                </div>

            </div>
        </div>
    {% endblock container %}

{% else %}
    {% block nologin %}{% endblock nologin %}
{% endif %}

<script type="application/javascript">
    $('.alert').click(function () {
        $(this).slideUp()
    });
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert-block .alert-info.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-primary.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-warning.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-danger.alert").slideUp();
        }, 15000);
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    jQuery('.modal_tracker_add').click(function (e) {
        var linkvar = $(this).attr('id');
        $('.modal-body').load(linkvar, function (result) {
            $('#myModal').modal({show: true});
        });
    });

    jQuery('.modal_goal_add').click(function (e) {
        var linkvar = $(this).attr('id');
        $('.modal-body').load(linkvar, function (result) {
            $('#myModal').modal({show: true});
        });
    });

    jQuery('.modal_goal_update').click(function (e) {
        var linkvar = $(this).attr('id');
        $('.modal-body').load(linkvar, function (result) {
            $('#myModal').modal({show: true});
        });
    });
</script>

</body>
</html>