<!DOCTYPE html>
{% load static humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Balanced Life Tracker{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="{% static 'javascript/jquery-ui.js' %}"></script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/sorttable.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link REL="icon" href="{% static 'img/note.svg' %}" type="image/x-icon">
    {% block CSS %}{% endblock CSS %}
</head>
<body>

{% block nav %}
    <nav class="navbar bg-dark navbar-dark position-relative">

        <div class="container">
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'home' %}">
                        Home
                    </a>
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'tracker:add' %}">
                        Trackers
                    </a>
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'tracker:goal_add' %}">
                        Goals
                    </a>
                </div>
                <div>
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                       href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
            {% else %}
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center" href="{% url 'login' %}">Login</a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}

<div class="alert-block position-absolute {% if not user.is_authenticated %}top-0{% endif %} w-100">
    {% block messages %}
        {% if messages %}
            <div class="alert alert-warning text-center">
                {% for message in messages %}{{ message }}<br/>{% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
</div>

{% if user.is_authenticated %}

    {% if goals %}
        <div class="container mt-5">
            <div class="m-1 d-flex flex-wrap">
                {% for goal in goals %}
                    <div class="d-flex">
                        <div class="colour_block" style="background-color: {{ goal.colour }}"></div>
                        &nbsp;&nbsp;<b>{{ goal.name }}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    {% if goal.description %}
                        <p>{{ goal.description }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block container %}
        <div class="container mt-5">

            <div class="row">

                <div class="col-12">
                    {% block content %}
                        <h1>Balanced Life Tracker</h1>
                    {% endblock content %}
                </div>

            </div>
        </div>
    {% endblock container %}

{% else %}
    {% block nologin %}{% endblock nologin %}
{% endif %}

<script type="application/javascript">
    $('.alert').click(function () {
        $(this).slideUp()
    });
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert-block .alert-info.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-primary.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-warning.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-danger.alert").slideUp();
        }, 15000);
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>