<!DOCTYPE html>
{% load static humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Shopping List Creator{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="{% static 'javascript/jquery-ui.js' %}"></script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/sorttable.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link REL="icon" href="{% static 'img/note.svg' %}" type="image/x-icon">
    {% block CSS %}{% endblock CSS %}
</head>
<body>

{% block nav %}
    <nav class="navbar bg-dark navbar-dark">

        <div class="container">
            {% if user.is_authenticated %}
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'home' %}">
                    Shopping List
                </a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'ingredients:create' %}">
                    Ingredients
                </a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'ingredient_categories:create' %}">
                    Ingredient Categories
                </a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'meals:create' %}">
                    Meals
                </a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'meal_categories:create' %}">
                    Meal Categories
                </a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'logout' %}">
                    Logout
                </a>
            {% else %}
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center" href="{% url 'login' %}">Login</a>
                <a class="nav-link pl-3 pr-3 pt-2 pb-2 d-flex align-items-center"
                   href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}

<div class="alert-block position-absolute {% if not user.is_authenticated %}top-0{% endif %} w-100">
    {% block messages %}
        {% if messages %}
            <div class="alert alert-warning text-center">
                {% for message in messages %}{{ message }}<br/>{% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
</div>

{% if user.is_authenticated %}
    {% block container %}
        <div class="container mt-5">

            <div class="row">

                <div class="col-lg-8 col-12">
                    {% block content %}
                        <h1>Shopping List Creator</h1>
                    {% endblock content %}
                </div>

                <div class="col-lg-4 col-12">
                    <div>
                        {% block meals %}
                            <div class="col-12">
                                <h4>Meals</h4>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <form method="GET">
                                        <fieldset>
                                            <div class="d-flex form-group">
                                                <input name="meals_search" class="form-control mr-2" type="text"
                                                       value="{{ meals_search }}">
                                                <button class="btn btn-info" type="submit">Search</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                            {% if meals %}

                                {% if meals_search %}
                                    <div class="text-center">
                                        <h5>Results for "{{ meals_search }}"</h5>
                                    </div>
                                {% endif %}

                                <!--Pagination-->
                                {% if meals.paginator.num_pages > 1 %}
                                    <div class="row">
                                        <div class="col">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-center">
                                                    {% if meals.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ meals.previous_page_number }}">Previous</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                               aria-disabled="true">Previous</a>
                                                        </li>
                                                    {% endif %}

                                                    {% if meals.number|add:'-4' > 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ meals.number|add:'-5' }}">&hellip;</a>
                                                        </li>
                                                    {% endif %}

                                                    {% for i in meals.paginator.page_range %}
                                                        {% if meals.number == i %}
                                                            <li class="page-item active" aria-current="page">
                                                                <span class="page-link">
                                                                    {{ i }}
                                                                    <span class="sr-only">(current)</span>
                                                                </span>
                                                            </li>
                                                        {% elif i > meals.number|add:'-5' and i < meals.number|add:'5' %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?page={{ i }}">{{ i }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if meals.paginator.num_pages > meals.number|add:'4' %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ meals.number|add:'5' }}">&hellip;</a>
                                                        </li>
                                                    {% endif %}

                                                    {% if meals.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ meals.next_page_number }}">Next</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                               aria-disabled="true">Next</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                {% endif %}
                                <!--end of Pagination-->

                                <table class="table border">
                                    {% for meal in meals %}
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="{% url 'meals:update' meal.id %}">{{ meal.name }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <a href="{% url 'meal_ingredients:create' meal.id %}">Ingredients</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <table class="table border">
                                    <tr>
                                        <td>
                                            No meals
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endblock meals %}

                    </div>
                </div>

            </div>
        </div>
    {% endblock container %}

{% else %}
    {% block nologin %}{% endblock nologin %}
{% endif %}

<script type="application/javascript">
    $('.alert').click(function () {
        $(this).slideUp()
    });
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert-block .alert-info.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-primary.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-warning.alert").slideUp();
        }, 15000);
        setTimeout(function () {
            $(".alert-block .alert-danger.alert").slideUp();
        }, 15000);
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>