{% extends 'base.html' %}
{% load static get_display %}

{% block content %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-2">
        <a class="modal_list_update btn btn-info m-1" data-toggle="modal" href="javascript:void(0);"
           title="Share Shopping List"
           id="{% url 'shopping_lists:create' %}">
            Create Shopping List
        </a>
    </div>

    <br>

    <div class="col-12">
        <h4>Shopping Lists</h4>
    </div>
    {% if shopping_lists %}
        <table class="table border">
            {% for shopping_list in shopping_lists %}
                <tr>
                    <td {% if not shopping_list.is_active %}style="text-decoration:line-through"{% endif %}>
                        <a class="modal_list_update" data-toggle="modal" href="javascript:void(0);"
                           title="Share Shopping List"
                           id="{% url 'shopping_lists:update' shopping_list.id %}">
                            <div>
                                {{ shopping_list.name }}
                            </div>
                        </a>
                    </td>
                    <td class="text-right">
                        {% if shopping_list.date_from %}
                            {{ shopping_list.date_from | date:"D d M Y" }} -
                            {{ shopping_list.date_to | date:"D d M Y" }}
                        {% endif %}
                    </td>
                    <td class="text-right cursor-pointer"
                        {% if shopping_list.user_account_name %}title="Group Name: {{ shopping_list.user_account_name }}" {% endif %}>
                        {% if shopping_list.user_account_users %}
                            <a class="modal_share_update" data-toggle="modal" href="javascript:void(0);"
                               title="Share Shopping List"
                               id="{% url 'user_accounts:update_modal' shopping_list.id %}">
                                {% for username in shopping_list.user_account_users %}
                                    <span class="username">
                                    {{ username }}
                                </span>
                                {% endfor %}
                            </a>
                        {% endif %}
                        &nbsp;
                        <a class="modal_share_create" data-toggle="modal" href="javascript:void(0);"
                           title="Share Shopping List"
                           id="{% url 'user_accounts:create_modal' shopping_list.id %}">
                            {% include 'include/share.svg' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <table class="table border">
            <tr>
                <td>
                    No shopping lists
                </td>
            </tr>
        </table>
    {% endif %}

    <script>
        $(document).ready(function () {
            jQuery('.modal_list_create').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_list_update').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_share_create').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_share_update').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>

{% endblock content %}