{% extends 'base.html' %}
{% load static get_display %}

{% block content %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="mb-4">
                <a class="modal_list btn btn-info m-1" data-toggle="modal" href="javascript:void(0);" \
                   id="{% url 'shopping_lists:create' %}">
                    <span data-toggle="tooltip" data-placement="top"
                          title="Create Shopping List">Create Shopping List</span>
                </a>
            </div>
            <div class="mb-4">
                <h4>Shopping Lists</h4>
            </div>
        </div>

        <div class="col-12">
            {% if shopping_lists %}
                <table class="table border">
                    {% for shopping_list in shopping_lists %}
                        <tr>
                            <td class="table_list w-100"
                                {% if not shopping_list.is_active %}style="text-decoration:line-through"{% endif %}>
                                <a href="{% url 'shopping_lists:update' shopping_list.id %}">
                                    <div class="p-2 d-flex justify-content-between">
                                        <div>
                                            {{ shopping_list.name }}
                                        </div>
                                        <div class="text-right">
                                            {% if shopping_list.date_from %}
                                                {{ shopping_list.date_from | date:"D d/m/y" }} -
                                                {{ shopping_list.date_to | date:"D d/m/y" }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="text-right p-0" data-toggle="tooltip" data-placement="top"
                                title="Remove from Shopping List">
                                <a class="modal_shopping_list_delete btn btn-danger m-1" data-toggle="modal"
                                   href="javascript:void(0);"
                                   id="{% url 'shopping_lists:delete' shopping_list.id %}">X</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table class="table border">
                    <tr>
                        <td>
                            No shopping lists
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            jQuery('.modal_list').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
            jQuery('.modal_details').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>

{% endblock content %}

{% block meals %}
    <div class="col-12">
        <h4>Meals</h4>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="GET">
                <fieldset>
                    <div class="d-flex form-group">
                        <input name="meals_search" class="form-control mr-2" type="text"
                               value="{{ meals_search }}">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {% if meals %}

        {% if meals_search %}
            <div class="text-center">
                <h5>Results for "{{ meals_search }}"</h5>
            </div>
        {% endif %}

        <!--Pagination-->
        {% if meals.paginator.num_pages > 1 %}
            <div class="row">
                <div class="col">
                    <ul class="pagination justify-content-center">
                        {% if meals.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% if meals.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.number|add:'-5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% for i in meals.paginator.page_range %}
                            {% if meals.number == i %}
                                <li class="page-item active" aria-current="page">
                                                                <span class="page-link">
                                                                    {{ i }}
                                                                    <span class="sr-only">(current)</span>
                                                                </span>
                                </li>
                            {% elif i > meals.number|add:'-5' and i < meals.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if meals.paginator.num_pages > meals.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.number|add:'5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% if meals.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!--end of Pagination-->

        <div class="row">
            {% for meal in meals %}
                <div class="col-12 p-1">
                    <table class="table border table_hover mb-1">
                        <tr>
                            <td class="p-0" style="width: 100px">
                                <a class="modal_details" data-toggle="modal"
                                   href="javascript:void(0);"
                                   id="{% url 'meals:details' meal.id %}">
                                    {% if meal.image_link %}
                                        <div class="col-12 meal_img"
                                             style="background-image: url({{ meal.image_link }})">
                                        </div>
                                    {% else %}
                                        <div class="col-12 meal_img"
                                             style="background-color: #e8fafc">
                                            {% include 'include/meal.svg' %}
                                        </div>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="p-2">
                                <a href="{% url 'meals:update' meal.id %}">
                                    <h5 class="overflow-hidden" style="height: 27px">
                                        {{ meal.name }}
                                    </h5>
                                </a>
                                <a href="{% url 'meal_ingredients:create' meal.id %}">
                                    <div>
                                        Ingredients&nbsp;
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>

        <!--Pagination-->
        {% if meals.paginator.num_pages > 1 %}
            <div class="row">
                <div class="col">
                    <ul class="pagination justify-content-center">
                        {% if meals.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% if meals.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.number|add:'-5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% for i in meals.paginator.page_range %}
                            {% if meals.number == i %}
                                <li class="page-item active" aria-current="page">
                                                                <span class="page-link">
                                                                    {{ i }}
                                                                    <span class="sr-only">(current)</span>
                                                                </span>
                                </li>
                            {% elif i > meals.number|add:'-5' and i < meals.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if meals.paginator.num_pages > meals.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.number|add:'5' }}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% if meals.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ meals.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <!--end of Pagination-->
    {% else %}
        <table class="table border">
            <tr>
                <td>
                    No meals
                </td>
            </tr>
        </table>

    {% endif %}

    </div>

    <script>
        $(document).ready(function () {
            jQuery('.modal_shopping_list_delete').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>
{% endblock meals %}