{% extends 'base.html' %}
{% load static crispy_forms_tags get_display %}

{% block content %}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <h3>
            <a href="{% url 'recipes:update' recipe.id %}">{{ recipe.name }}</a>
        </h3>

        <div>
            {{ recipe.code_category.name }}
        </div>
    </div>
    {{ recipe.description }}

    <form method="post" action="">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
            <button class="btn btn-dark">Add</button>
        </fieldset>
    </form>

    <br>

    <table class="table border">
        {% for recipe_ingredient in recipe_ingredients %}
            <tr>
                <td class="text-nowrap" style="width: 50px">
                    <a class="modal_update" data-toggle="modal"
                       href="javascript:void(0);"
                       id="{% url 'recipe_ingredients:update_modal' recipe_ingredient.code_recipe_id recipe_ingredient.id %}">
                        {% if recipe_ingredient.measurement_value or recipe_ingredient.measurement_type %}
                            {% if recipe_ingredient.measurement_value %}
                                {{ recipe_ingredient.measurement_value | no_decimals }}
                            {% endif %}
                            {% if recipe_ingredient.measurement_type %}
                                {{ recipe_ingredient.measurement_type | measurement_type_display }}
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    </a>
                </td>
                <td>
                    {{ recipe_ingredient.code_ingredient.name }}
                </td>
                <td>{{ recipe_ingredient.code_ingredient.food_group }}</td>
                <td>
                    {% if recipe_ingredient.code_ingredient.brand %}
                        {% if recipe_ingredient.code_ingredient.brand == "d" %}

                        {% endif %}
                        {% if recipe_ingredient.code_ingredient.brand == "f" %}

                        {% endif %}
                        {% if recipe_ingredient.code_ingredient.brand == "g" %}

                        {% endif %}
                        {% if recipe_ingredient.code_ingredient.brand == "o" %}

                        {% endif %}
                        {% if recipe_ingredient.code_ingredient.brand == "m" %}

                        {% endif %}
                        {% if recipe_ingredient.code_ingredient.brand == "v" %}

                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>

    {{ recipe.steps }}

    <script>
        $(document).ready(function () {
            jQuery('.modal_update').click(function (e) {
                var linkvar = $(this).attr('id');
                $('.modal-body').load(linkvar, function (result) {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>

{% endblock content %}