{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}

    <div class="row">

        <div class="col-8">
            <form method="post" action="">
                {% csrf_token %}
                <fieldset>
                    {% crispy form %}
                    <button class="btn btn-dark">Create</button>
                </fieldset>
            </form>
        </div>

        {% if recipes %}
            <div class="col-4">
                <div>
                    <table class="table border">
                        {% for recipe in recipes %}
                            {% ifchanged recipe.category %}
                                <tr>
                                    <th>{{ recipe.category }}</th>
                                </tr>
                            {% endifchanged %}
                            <tr>
                                <td>{{ recipe.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock content %}